<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Mission to Mars</h1>
      <p class="lead">News and photos related to mars.</p>
      <hr class="my-4">
      <p>For the latest information, click below.</p>
      <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
    </div>
  </div>

<div class="container">
  <h3 class="my-4">Latest Mars News</h3>
  <h4>Article Title</h4>
  <h4> {{mars_db2.article_title}} </h4>
  <p>Article Teaser</p>
  <p> {{ mars_db.article_teaser }} </p>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h3 class="my-4">Featured Mars Image</h3>
          <div class="thumbnail">
            <img src="https://spaceimages-mars.com/image/featured/mars1.jpg" alt="..." class="img-thumbnail">
            <p> {{ feature_image_url }} </p>
          </div>
          <div class="caption">
              <h5>Dusty Space Cloud</h5>
              <h5> {{ feature_name }} </h5>
            </div>
        </div>
        <div class="col-md-4">
          <h3 class="my-4">Mars Facts</h3>
            <table border="1" class="dataframe"><thead><tr style="text-align: right;"><th></th><th>0</th><th>1</th></tr></thead><tbody><tr><th>0</th><td>Equatorial Diameter:</td><td>6,792 km</td></tr><tr><th>1</th><td>Polar Diameter:</td><td>6,752 km</td></tr><tr><th>2</th><td>Mass:</td><td>6.39 × 10^23 kg (0.11 Earths)</td></tr><tr><th>3</th><td>Moons:</td><td>2 ( Phobos &amp; Deimos )</td></tr><tr><th>4</th><td>Orbit Distance:</td><td>227,943,824 km (1.38 AU)</td></tr><tr><th>5</th><td>Orbit Period:</td><td>687 days (1.9 years)</td></tr><tr><th>6</th><td>Surface Temperature:</td><td>-87 to -5 °C</td></tr><tr><th>7</th><td>First Record:</td><td>2nd millennium BC</td></tr><tr><th>8</th><td>Recorded By:</td><td>Egyptian astronomers</td></tr></tbody></table>
            <p> {{ mars_html_table }} </p>
          </div>
        
    </div>

    <div class="row">
      <div class="col">
        <h3 class="text-center">Hemispheres</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            
            <div class="thumbnail">
              <img src="https://marshemispheres.com/images/full.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="caption">
                <h5>Cerberus Hemisphere Enhanced</h5>
            </div>
          </div>
        </div>
      </div>  
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            
            <div class="thumbnail">
              <img src="https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="caption">
                <h5>Schiaparelli Hemisphere Enhanced</h5>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
           
              <div class="thumbnail">
                <img src="https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg" alt="..." class="img-thumbnail">
              </div>
              <div class="caption">
                  <h5>Syrtis Hemisphere Enhanced</h5>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              
              <div class="thumbnail">
                <img src="https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg" alt="..." class="img-thumbnail">
              </div>
              <div class="caption">
                  <h5>Valles Marineris Hemisphere Enhanced</h5>
              </div>
            </div>
          </div>
        </div>
          
      
      </div>  
    </div>  
          
            
        </div>
    </div>



    


    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
